/* ------------------- General -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* ------------------- Header -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
header {
  padding: 10px;
  width: 100%;
  z-index: 100; }

header .branding {
  cursor: pointer; }
  header .branding h1 {
    margin: 0; }
  header .branding svg {
    float: left;
    fill: black; }
  @media screen and (max-width: 499px) {
    header .branding {
      /* Mobile */ }
      header .branding {
        width: 220px;
        display: block;
        margin: 0 auto; }
        header .branding h1 {
          font-size: 20px;
          line-height: 40px; }
        header .branding svg {
          width: 40px;
          height: 40px;
          margin-right: 10px; } }
  @media screen and (min-width: 500px) {
    header .branding {
      /* Tablet */ }
      header .branding h1 {
        font-size: 40px;
        line-height: 80px; }
      header .branding svg {
        width: 80px;
        height: 80px;
        margin-right: 20px; } }

/* ------------------- footer -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
footer {
  text-align: center;
  padding: 20px; }

/* ------------------- Content -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
#content {
  padding: 20px; }
  #content h1, #content h2 {
    text-align: center;
    margin: 0; }
  #content h2 {
    font-size: 20px; }

/* ------------------- Gallery -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
/* ------------------- Items -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
button {
  background: grey;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0; }
  button:hover, button.active {
    background: blue; }
  button:focus, button:active:focus {
    outline: none; }

.buttons {
  margin: 0 0 20px 0;
  height: 40px; }
  .buttons button {
    float: right; }

/* ------------------- Items -------------------
-------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-6:nth-child(odd) {
    clear: both; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .col-md-4:nth-child(3n+1) {
    clear: both; } }
@media screen and (min-width: 1200px) {
  .col-lg-3:nth-child(4n+1) {
    clear: both; } }
ul.items {
  padding: 0; }
  ul.items li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    cursor: pointer; }
    ul.items li .img-holder {
      position: relative;
      display: block;
      margin: 0 auto; }
      ul.items li .img-holder .img-overlay {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        display: none;
        line-height: 200px;
        color: white; }
    ul.items li:hover {
      color: grey; }
      ul.items li:hover .img-holder .img-overlay {
        display: block; }
    @media screen and (max-width: 500px) {
      ul.items li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px #ccc; }
      ul.items li:first-child {
        border-top: solid 1px #ccc; } }
  ul.items.grid-view li {
    text-align: center; }
    ul.items.grid-view li .img-holder {
      height: 200px;
      width: 200px; }
  ul.items.list-view li {
    width: 100%;
    position: relative;
    min-height: 70px; }
    ul.items.list-view li:nth-child(even) {
      background: #eee; }
    ul.items.list-view li .text-holder {
      margin-left: 75px; }
      ul.items.list-view li .text-holder h3 {
        margin: 0; }
      ul.items.list-view li .text-holder p {
        margin: 0; }
    ul.items.list-view li .img-holder {
      position: absolute;
      top: 10px;
      left: 10px; }
      ul.items.list-view li .img-holder img {
        height: 50px;
        width: 50px; }

/* Flow Grid
------------------------------------------------------------------------*/
* {
  box-sizing: border-box; }

.flowGrid {
  padding: 0;
  list-style: none;
  margin-top: 30px; }

.flowGrid:before, .flowGrid:after {
  content: "";
  display: table; }

.flowGrid:after {
  clear: both; }

.flowGridItem {
  margin-bottom: 10px; }

.flowGridItem img {
  width: 100%; }

.flowGridColumn {
  float: left;
  padding-left: 10px; }

.flowGridColumn:last-of-type {
  padding-right: 10px; }

/*# sourceMappingURL=style.css.map */
